
.dp_dashbd {
    display: none;
   @media screen and (min-width:777px){
    position: fixed;
    top: 13%;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding-block: 2rem;
    padding-inline: 1rem;
    height: 63vh;
    border-radius: 1rem;
    width: 3rem;
    left: 3rem;


    &_top,
    &_bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    &_top {

        border-bottom: 1px solid gray;
        padding-block-end: 1.5rem;
    }

    .fa-sign-out {
        color: rgb(162, 46, 46);
    }

    a:hover {
        background-color: #ABB237;
        color: white;
        border-radius: 2rem;
    }

    a {
        transition: all 0.5s;
        padding-inline: 0.6rem;
        padding-block: 0.5rem;
        font-size: 1.3rem;
    }
    
    .active {
        background-color: #ABB237;
        color: white;
        border-radius: 2rem;
    }
   }
}