@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"); /* Added more weights */
@import "./landlord.scss";
@import "./variables.scss";
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-light);
  color: var(--medium-text);
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
