:root {
  --primary-color: rgb(121, 154, 45); /* indigo-600 */
  --primary-color-dark: rgb(97, 133, 13); /* indigo-700 */
}
* {
  padding: 0;
  margin: 0;
  font-family: "Chivo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  a{
    text-decoration: none;
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: auto;
  }
  input,
  textarea {
    font-family: "Chivo", sans-serif;
    &::placeholder{
        font-family: "Chivo", sans-serif;
    }
  }
  textarea {
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    &::placeholder {
      font-weight: 400;
      opacity: 1; /* Ensures placeholder is fully opaque */
    }
  }
  input::placeholder {
    font-weight: 400;
  }
}
