.mode_switch:hover {
	opacity: 1;
}

.mode_switch {
	transition: all 0.3s;
	display: flex;
	align-items: center;
	gap: 0;
	position: sticky;
	right: 0;
	left: 0;
	top: 50%;
	z-index: 3;
	height: 0rem;
	bottom: 0;
	opacity: 0.2;

	.far,
	.fas {
		font-size: 2rem;
	}
	.unlite {
		color: black;
	}
	.lite {
		color: white;
	}
	.mode_switch_inner {
		transition: all 0.5s;
		display: none;
	}

	.mode_switch_hider {
		border-top-right-radius: 2rem;
		border-bottom-right-radius: 2rem;
		background-color: #abb237;
		padding-inline-end: 0.5rem;
		padding-block: 0.3rem;
	}

	.show {
		background-color: #abb237;
		padding-inline: 1rem;
		padding-inline-start: 0.5rem;
		padding-block: 0.3rem;
		display: block;
	}
}

.dark {
	transition: 0.5s ease;
	background-color: black;
	color: white;

	footer {
		background-color: black;
	}

	.dp_dashbd {
		background-color: rgb(16, 15, 15);
	}

	.search_page {
		&_mobile {
			&_header {
				background-color: black;
				&_filter {
					.filter {
						background-color: black;
					}
					.middle {
						li {
							background-color: rgb(53, 49, 49);
						}
					}
				}
			}

			.button:hover {
				background-color: rgb(16, 15, 15);
				color: #abb237;
				border: 1px solid;
			}

			&_inner {
				background-color: black;
				.inner {
					background-color: black;
				}
				span {
					color: white;
				}

				&_nearby,
				&_others {
					&_inner {
						&_result {
							background-color: rgba(19, 18, 18, 0.809);

							.right_bottom {
								h1 {
									color: white;
								}
							}
						}
					}
				}
			}
		}

		&_dp {
			&_inner {
				&_header {
					background-color: black;

					&_middle_search {
						i {
							color: black;
						}
					}

					&_right {
						i {
							color: #abb237;
						}

						&_avatar:hover {
							background-color: #abb237;
							border: 2px solid white;
						}

						&_avatar {
							background-color: white;
						}
					}
				}

				&_inner {
					select {
						background-color: black;
						color: white;
					}

					&_results {
						&_filter {
							background-color: black;
						}

						&_inner {
							&_nearby,
							&_lastuse {
								&_inner {
									&_result {
										background-color: rgb(16, 15, 15);

										.button {
											background-color: black;
										}

										.button:hover {
											background-color: #abb237;
											color: black;
											border: 1px solid;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.apt_page {
		&_mobile {
			.sixth {
				&_inner {
					&_result {
						background-color: rgba(19, 18, 18, 0.809);

						.right_bottom {
							h1 {
								color: white;
							}
						}
					}
				}
			}
			.bottom {
				background-color: black;
			}
		}
	}

	span,
	a,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	header,
	i,
	p,
	li {
		color: white;
	}
}
