.notification-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .notification-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    color: #333;
    width: 100%;
    border-bottom: 1px solid rgb(217, 215, 215);
    animation: slideInFadeIn 0.3s ease-out forwards;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
    p {
      color: #333333;
      font-weight: 500;
      font-size: 14px;
    }
    &.warning {
      background-color: #fffbe6; /* Lightest yellow */
      border-color: #ffc107; /* Vibrant yellow */
      color: #856404; /* Dark yellow text */
    }

    /* Read/Unread states for notification item - Simpler & Clearer */
    &.read {
      color: #a0a0a0; /* Softer gray text for read */

      p {
        color: #a0a0a0;
        font-weight: 200;
      }
    }

    &.unread {
      background-color: #ffffff; /* Clean white background for unread */
      color: #333333; /* Stronger dark text for unread */
      font-weight: 600;
      border-left-color: #007bff; /* A classic, vibrant blue for unread */
    }
  }

  .notification-icon {
    flex-shrink: 0;
    font-size: 1.6rem; /* Slightly smaller icon for compactness */
    margin-right: 1rem; /* Slightly reduced margin */
    line-height: 1;
    width: 2.2rem; /* Adjusted size */
    height: 2.2rem; /* Adjusted size */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(
      0,
      0,
      0,
      0.04
    ); /* Slightly lighter subtle background */

    &.success {
      color: #28a745;
      background-color: rgba(40, 167, 69, 0.12);
    } /* More saturated background */
    &.error {
      color: #dc3545;
      background-color: rgba(220, 53, 69, 0.12);
    }
    &.info {
      color: #17a2b8;
      background-color: rgba(23, 162, 184, 0.12);
    }
    &.warning {
      color: #ffc107;
      background-color: rgba(255, 193, 7, 0.12);
    }
  }

  @keyframes slideInFadeIn {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
